@import './index.css';
@import './base.css';


#app {
  margin: 0 auto;
  padding: 0;

  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: var(--color-text);
  transition: var(--transition-duration);
}
